REACT_APP_GEOCODE_API_KEY = YOURGOOGLEGEOCODEAPIKEYHERE
REACT_APP_FIREBASE_CONFIG = {"apiKey":"PUTAPIKEYHERE","authDomain":"PROJECTNAME.firebaseapp.com","projectId":"PROJECTNAME","storageBucket":"PROJECTNAME.appspot.com","messagingSenderId":"IDHERE","appId":"IDHERE"}
REACT_APP_DEMO_ADMIN = {"email":"PUTEMAILHERE","password":"PUTPASSWORDHERE"}
REACT_APP_DEMO_SELLER = {"email":"PUTEMAILHERE","password":"PUTPASSWORDHERE"}
REACT_APP_DEMO_BUYER = {"email":"PUTEMAILHERE","password":"PUTPASSWORDHERE"}
REACT_APP_DEMO_RENTER = {"email":"PUTEMAILHERE","password":"PUTPASSWORDHERE"}